.logout-button{
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1;
    height: 40px !important;
    width: 100px !important;
    margin: 0 !important;
    font-size: 14px !important;
}