.username-modal-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
}

.hide-username-modal{
    background-color: red;
    display: none;
}

.change-username-input-container{
    max-width: 800px;
    width: 100%;
    background-color: #e23838;
    border-radius: 10px;
    position: relative;
    padding: 25px;
}

.change-username-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.change-username-title{
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding-right: 40px;
}

.change-username-input-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #c62a2a;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding: 5px;
}

.change-username-input {
    width: 100%;
    height: 45px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: white;
}

.save-username-button{
    width: 180px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    color: #e23838;
    background-color: white;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}


.close-username-modal-x{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.change-username-modal-subtext{
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

@media(min-width: 400px) {
    .change-username-title{
        font-size: 30px;
    }

    .change-username-modal-subtext{
        font-size: 20px;
    }
}