.animation-page-but-here-artists{
    background-color: #8449a6;
}

.artists-color{
    color: rgb(229, 147, 191) !important;
}

.song-color{
    color: #dafbff !important;
}


.recommened-page-content{
    max-width: 100%;

}

.recommend-page-text{
    /* display: flex;
    flex-wrap: wrap; */
    text-align: center;
    
}

.word{
    font-size: min(10vw, 60px);
    line-height: min(10vw, 60px);
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(240, 217, 255);
    opacity: 0;
}

@media (min-width: 600px) {
    .recommened-page-content{
        max-width: 600px;
    
    }
}